@model Hotels.Models.ViewModels.ChangePasswordViewModel

<div style="height: 558px; width: 1400px; background-size: 100% 100%; background-image: url(https://wallpaper.dog/large/5486507.png) ">
    <form asp-action="ChangePassword" asp-controller="Account" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            @Html.HiddenFor(x => x.ReturnUrl)
            <div style="display:flex">
                <div>
                    <div>@Html.LabelFor(x => x.OldPass)</div>
                    @Html.PasswordFor(x => x.OldPass)
                    @Html.ValidationMessageFor(x => x.OldPass)
                </div>
                <div style="margin-left:100px">
                    <div>@Html.LabelFor(x => x.NewPass)</div>
                    @Html.PasswordFor(x => x.NewPass)
                    @Html.ValidationMessageFor(x => x.NewPass)
                </div>
            </div>
            <input type="submit" value="Confirm" class="btn btn-primary" style="width:517px; margin-top:20px" />
        </div>
    </form>
</div>