@model Hotels.Models.Order

<div>
    <h3>Your info</h3>
    @Html.AntiForgeryToken() <!-- Защита от CSRF -->
    @if (ViewBag.SuccessMessage != null)
    {
        <div style="color: green; margin-top: 20px;">
            @ViewBag.SuccessMessage
        </div>
    }
    <form method="post">
        <input type="hidden" value="@ViewBag.HotelsId" name="HotelsId" />
        <div style="display:flex; align-content:center; flex-wrap: wrap;">
            <div style="display:block;">
                <div class="form-group">
                    <div>Name:</div>
                    @Html.TextBoxFor(x => x.Name, new { placeholder = "Enter your name" })
                    <span style="color:red;">@Html.ValidationMessageFor(x => x.Name)</span>
                </div>
                <div class="form-group">
                    <div style="margin-top:20px">Last name:</div>
                    @Html.TextBoxFor(x => x.Lastname, new { placeholder = "Enter your last name" })
                    <span style="color:red;">@Html.ValidationMessageFor(x => x.Lastname)</span>
                </div>
            </div>
            <div style="display:block; margin-left:100px">
                <div class="form-group">
                    <div>Phone number:</div>
                    @Html.TextBoxFor(x => x.Phone, new { placeholder = "Enter your phone number" })
                    <span style="color:red;">@Html.ValidationMessageFor(x => x.Phone)</span>
                </div>
                <div class="form-group">
                    <div style="margin-top:20px">Email:</div>
                    @Html.TextBoxFor(x => x.Email, new { placeholder = "Enter your email address" })
                    <span style="color:red;">@Html.ValidationMessageFor(x => x.Email)</span>
                </div>
            </div>
        </div>
        <input type="submit" value="Buy" class="submit-button" />
    </form>
</div>
