@model Hotels.Models.ViewModels.ChangeRoleViewModel

<h1>Change role for @Model.UserEmail</h1> 
<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (var role in Model.AllRoles)
         {
                <input type="checkbox" name="roles" value="@role.Name"
                @(Model.UserRoles.Contains(role.Name) ? "checked='checked'" : "") />
                    <span @(Model.UserRoles.Contains(role.Name) ? "style=color:blue;" : "")>@role.Name</span> <br />
         }
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</form>